* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #CDCDCD;
    width: 100%;
}

header {
    background-color: #333;
    height: 50px;
}

/* section,
footer {
    margin: 0 auto;
    width: 600px;
} */

@media screen and (max-width: 420px) {
    section,
    footer {
        margin: 0 auto;
        width: 90%;
    }
    #form>label{
        font-size: 16px;
    }
    /* #title {
        flex: 1;
    } */
}
@media screen and (min-width: 421px) {
    section,
    footer {
        margin: 0 auto;
        width: 400px;
    }
}
@media screen and (min-width: 720px) {
    section,
    footer {
        margin: 0 auto;
        width: 600px;
    }
}
@media screen and (min-width: 820px) {
    section,
    footer {
        margin: 0 auto;
        width: 700px;
    }
}

#form {
    display: flex;
    justify-content: space-between;
}

label {
    /* width: 20%; */
    height: 50px;
    color: #CDCDCD;
    font-size: 24px;
    line-height: 50px;
    flex: 1;
    margin-right: 20px;
}

#title {
    outline: none;
    border-radius: 5px;
    /* width: 60%; */
    flex: 2;
    height: 25px;
    border: 0;
    /* float: right; */
    margin-top: 12.5px;
    padding-left: 15px;
}

h2 {
    margin: 20px 0;
}

h2 span {
    color: #333;
    font-size: 14px;
    float: right;
    padding-top: 12px;
}

ol,ul {
    line-height: 32px;
}

li {
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
    border-left: solid 5px green;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

ul li {
    opacity: .5;
}

li #check {
    /* position: absolute;
    top: 6px;
    left: 10px; */
    /* width: 20px;
    height: 20px; */
    flex: 1;
    min-width: 20px;
    min-height: 20px;
    margin: 0 3px 0 3px;
}

li p {
    /* margin-left: 45px;
    width: 92%; */
    flex: 20;
    position: relative;
}

li a {
    /* position: absolute;
    top: 0;
    right: 10px; */
    flex: 1;
    min-width: 32px;
    margin: 0 3px 0 3px;
}

p input {
    height: 20px;
    width: 90%;
    /* width: 90%;
    margin: -2px 0 0 40px; */
    padding-left: 10px;
    outline: none;
    box-sizing: border-box;
    position: absolute;
    top: -10px;
    left: 0;
}

footer {
    text-align: center;
    color: #666;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #666;
}